* {
  box-sizing: border-box;
}

/* Nav bar */
nav span {
  margin-left: 20px;
  font-size: 20px;
}

/* parent of left and right part - CONTAINER _BODY */
.parentElemet {
  display: grid;
  grid-template-columns: 400px auto;
  background-color: black;
  max-height: calc(100vh - 53.6px);
}

/* Groups Css - Left section */
.left-side {
  display: grid;
  grid-template-rows: 70px auto;
  width: 100%;
  max-height: inherit;
}

/* Parent of group  - UL */
.grp-list {
  overflow-y: auto;
  border-radius: 50px;
  /* background-color: red;
   */
}

/* Children of UL - LI */
.group-li {
  position: relative;
  margin-top: 6px;
  margin-left: -30px;
  list-style-type: none;
  background-color: rgb(55, 55, 55);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px 15px;
}

.group-lii {
  position: relative;
  margin-top: 6px;
  margin-left: -30px;
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 10px 15px;
}

.MembersInAgroup {
  border-radius: 50px;
}

/* Right Section */
.chat-container {
  position: relative;
  display: grid;
  grid-template-rows: 80px auto 50px;
  gap: 1%;
  max-height: inherit;
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
}

/* Sending msgs input button css */
.form {
  display: flex;
}

.msg-input {
  border-radius: 5px;
  width: 90%;
  padding: 5px 10px;
}

.msg-btn {
  width: 10%;
}


.msgs-div {
  display: block;
  padding: 10px;
  margin: 5px -10px;
  color: white;
  list-style-type: none;
  /* width: fit-content; */
  /* background-color: rgb(74, 74, 74); */
  /* border-radius: 25px; */
  /* border: 1px solid red; */
}

.headerofnav {
  width: 100%;
  height: 70%;
  margin: 0px -12px;
  font-size: 35px;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #272b2d;
}

.notification-style {
  background-color: rgb(255, 223, 223);
  width: fit-content;
  display: inline-block;
  text-align: center;
  margin: 10px 150px;
  padding: 5px 10px;
  border-radius: 15px;
  color: rgb(255, 0, 0);
}

h3 {
  color: white;
}

.msg-Box {
  overflow-y: auto;
}

/* gadding user in a group - by admin */
#addUserSection form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addUserSection label {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

#selectAllUser {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 16px;
}

/*  */
.xtra-style {
  /* position: absolute; */
  position: absolute;
  /* Position the delete button absolutely within its parent list item */
  top: 50%;
  /* Align the delete button vertically at 50% of its parent's height */
  transform: translateY(-50%);
  /* Adjust the position of the delete button vertically to center it */
  right: 20px;
  border-radius: 50px;
}

.remove-notification {
  text-align: center;
  background-color: rgb(255, 227, 227);
  margin-left: 100px;
  padding: 5px 10px;
  font-weight: bolder;
  font-size: 20px;
  color: red
}

.makeAdmin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right:80px;
  border-radius: 50px;
}

.adminText {
  position: absolute;
  /* Position the delete button absolutely within its parent list item */
  top: 50%;
  /* Align the delete button vertically at 50% of its parent's height */
  transform: translateY(-50%);
  /* Adjust the position of the delete button vertically to center it */
  right: 15px;
  border-radius: 50px;
}

.removeAdmin {
  position: absolute;
  /* Position the delete button absolutely within its parent list item */
  top: 50%;
  /* Align the delete button vertically at 50% of its parent's height */
  transform: translateY(-50%);
  /* Adjust the position of the delete button vertically to center it */
  right:80px;
  border-radius: 50px;
}