/* h1 {
    margin-top: 20px;
    text-align: center;
} */
* {
    box-sizing: border-box;
  }
  
  li:nth-child(even) {
    margin-top: 2px;
    list-style-type: none;
    /* background-color: rgb(255, 241, 241);
      */
    background-color: rgb(55, 55, 55);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px 10px;
  }
  
  li:nth-child(odd) {
    margin-top: 2px;
    list-style-type: none;
    background-color: rgb(55, 55, 55);
    /* background-color: rgb(255, 255, 255); */
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 15px;
  }
  form {
    display: flex;
  }
  .msg-input {
    margin: 0 10px;
    border-radius: 5px;
    width: 90%;
    padding: 5px 10px;
  }
  
  .msg-btn {
    width: 10%;
  }
  
  nav span {
    margin-left: 20px;
    font-size: 20px;
  }
  
  .chat-container {
    position: relative;
    display: grid;
    grid-template-rows: 80px auto 50px;
    gap: 1%;
    max-height: inherit;
    width: 100%;
    /* max-height: 570px; */
    border: 3px solid rgb(255, 0, 43);
  }
  
  .left-side {
    display: grid;
    grid-template-rows: 80px auto;
    width: 100%;
    max-height: inherit;
  }
  .grp-list {
    overflow-y: auto;
  }
  .msgs-div {
    display: block;
    padding: 10px;
    margin: 5px;
    width: fit-content;
    background-color: rgb(55, 55, 55);
    border-radius: 50px;
    /* border: 1px solid red; */
    color: white;
  }
  
  .grp-list {
    overflow-y: auto;
    /* max-height: 536px; */
    border-radius: 10px;
  }
  
  .headerofnav {
    /* margin-bottom: 4px; */
    width: 100%;
    margin: 0px -12px;
    /* display: flex; */
    /* align-items: center; */
    /* background-color: rgb(31, 31, 31); */
    font-size: 35px;
    font-weight: bolder;
    /* background-color: black; */
    background-color: #272b2d;
  }
/*   
  .headerofnav h4 {
    padding: 10px;
    padding-left: 80px;
    color: white;
  }
   */
  /* .headerofnav button {
    width: 80px;
    height: 40px;
    margin-top: 8px;
    margin-right: 50px;
    font-weight: bolder;
  } */
  
  .bg-light {
    background-color: #e3f2fd;
  }
  
  /* Background color for the right section (Chat Window) */
  /* .chat-container {
      background-color: #b6f9af;
  } */
  
  /* Background color for the footer with the input field */
  .footer {
    background-color: #e0e0e0;
  }
  
  .bg {
    border: 1px solid white;
  }
  
  .notification-style {
    background-color: rgb(255, 223, 223);
    width: fit-content;
    display: inline-block;
    text-align: center;
    margin: 10px 150px;
    padding: 5px 10px;
    border-radius: 15px;
    color: rgb(255, 0, 0);
  }
  
  h3 {
    color: white;
  }
  
  .msg-Box {
    overflow-y: auto;
  }
  
  .parentElemet {
    display: grid;
    grid-template-columns: 400px auto;
    background-color: black;
    max-height: calc(100vh - 53.6px);
  }
  
  .grp {
    overflow-y: auto;
  }