body {
    margin: 0;
    padding: 0;
}

.Main-Window {
    display: flex;
    background-color: gray;

}

.left {
    background-color: red;
    width: 20%;
    /* text-align: center; */
    padding: 10px;
    max-height: 70%;
}

.right {
    background-color: rgb(172, 172, 255);
    width: 80%;
    padding-left: 10px;
    max-height: 70%;
}

li {
    list-style-type: none;
}

form input {
    width: 90%;
    height: 40px;
    padding-bottom: 2px;
    position: fixed;
}

form button {
    width: 8%;
    height: 40px;
    position: fixed;
}

.msgbox {
    overflow-y: auto;
    max-height: 77%;
}
h4{
    background-color: antiquewhite;
}